.hv_box {
    font: 12px/1.5 "\5FAE\8F6F\96C5\9ED1", arial;
    *line-height: 1.5
}
.hv_box div, .hv_box ul, .hv_box dl {
    zoom: 1
}
.hv_box ul, .hv_box ol {
    list-style: none;
    margin: 0;
    padding: 0
}
.hv_box img {
    border: 0
}
.hv_box a {
    text-decoration: none
}
.clearfix {
    clear: both;
    zoom: 1
}
.hv_ico_star, .hv_ico_stop, .hv_ico_refresh, .hv_ico_next, .hv_ico_back, .hv_ico_screen, .hv_ico_allscreen, .hv_ico_pasued, .hv_ico_fastslide, .hv_pop .hv_pop_close span, .hv_tip .hv_tip_close, .hv_ico_loading, .hv_loading {
    background: url(http://i3.letvimg.com/img/201403/24/hv_ico.png) no-repeat -10000px
}
.hv_ico_sub {
    text-align: center;
    border: 2px solid #cdcdcd;
    color: #ffffff;
    border-radius: 3px;
    font-size: 13px
}
.hv_box {
    position: relative;
    background: #000000;
    height: 100%;
    overflow: hidden;
    clear: both;
    text-align: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent
}
.hv_fullscreen {
    position: absolute;
    width: 100%;
    height: 100.5%;
    top: 0;
    left: 0;
    z-index: 1000
}
.hv_topbar, .hv_botbar, .hv_rigbar, .hv_tip {
}
.hv_box_hide .hv_topbar {
    transform: translate(0, -40px);
    -webkit-transform: translate(0, -40px);
    -moz-transform: translate(0, -40px);
    -o-transform: translate(0, -40px);
    -ms-transform: translate(0, -40px)
}
.hv_box_hide .hv_botbar {
    transform: translate(0, 41px);
    -webkit-transform: translate(0, 41px);
    -moz-transform: translate(0, 41px);
    -o-transform: translate(0, 41px);
    -ms-transform: translate(0, 41px)
}
.hv_box_hide .hv_rigbar {
    transform: translate(300px, 0);
    -webkit-transform: translate(300px, 0);
    -moz-transform: translate(300px, 0);
    -o-transform: translate(300px, 0);
    -ms-transform: translate(300px, 0)
}
.hv_box_hide .hv_tip {
    transform: translate(0, 70px);
    -webkit-transform: translate(0, 70px);
    -moz-transform: translate(0, 70px);
    -o-transform: translate(0, 70px);
    -ms-transform: translate(0, 70px)
}
.hv_box_hide .hv_app_play {
    transform: translate(0, 43px);
    -webkit-transform: translate(0, 43px);
    -moz-transform: translate(0, 43px);
    -o-transform: translate(0, 43px);
    -ms-transform: translate(0, 43px)
}
.hv_box_hide .clear_ul.hover {
    display: none
}
.hv_topbar, .hv_topbar_bg, .hv_topbar_cnt {
    position: absolute;
    left: 0;
    top: -1px;
    width: 100%;
    height: 40px
}
.hv_topbar {
}
.hv_topbar_bg {
    background: #000000;
    opacity: 0.5
}
.hv_topbar_cnt {
    color: #ffffff;
    opacity: 0.6
}
.hv_topbar_cnt .hv_ico_back {
    float: left;
    background-position: 0 -266px;
    width: 17px;
    height: 27px;
    margin: 9px 20px 0;
    display: none
}
.hv_fullscreen .hv_ico_back {
    display: block
}
.hv_topbar_cnt .hv_tit {
    float: left;
    font-size: 17px;
    line-height: 38px;
    margin: 0 20px
}
.hv_fullscreen .hv_tit {
    margin: 0
}
.hv_topbar_cnt .hv_ico_move {
    float: right;
    padding: 0 8px;
    height: 24px;
    line-height: 22px;
    border-radius: 4px;
    margin-right: 20px;
    margin-top: 6px
}
.hv_play {
    width: 100%;
    height: 100%
}
.hv_play_bg, .hv_play_poster {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%
}
.hv_play_poster {
    background-size: cover
}
.hv_botbar, .hv_botbar_bg, .hv_botbar_cnt {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px
}
.hv_botbar {
}
.hv_botbar_bg {
    border-top: 1px solid #171717;
    background: #000000;
    opacity: 0.5
}
.hv_botbar_cnt {
     display:-webkit-box; display:-moz-box;display:box;
}
.hv_app_play {
    bottom: 45px;
    right: 3px;
    position: absolute;
    border: 2px solid #fff;
    border-radius: 5px;
    text-align: center;
    width: 150px;
    height: 30px;
    line-height: 28px
}
.hv_app_play a, .hv_app_play a:hover {
    color: #fff;
    display: block;
    font-size: 14px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 30px
}
.hv_app_play span {
    position: relative;
    width: 100%;
    height: 30px;
    display: block
}
.hv_app_play span i {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #000;
    opacity: 0.6;
    display: block;
    width: 100%;
    height: 30px;
    border-radius: 3px
}
.hv_start {
    width: 50px;
    height: 40px;
    position: relative;
    z-index: 1
}
.hv_ico_star, .hv_ico_stop, .hv_ico_refresh {
    display: block;
    width: 50px;
    height: 40px
}
.hv_ico_star {
    background: none;
    display: none;
    padding-top: 6px;
    height: 34px
}
.hv_ico_star i {
    display: block;
    margin: 0 auto;
    width: 10px;
    height: 28px;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF
}
.hv_ico_stop {
    background-position: 14px -64px;
    display: none
}
.hv_ico_refresh {
    background-position: 8px -135px
}
.hv_ico_big .hv_ico_refresh {
    background-position: -44px -135px
}
.hv_scroll, .hv_scroll_cnt {
    height: 40px
}
.hv_scroll {
    width: 100%;
    -webkit-box-flex:1; box-flex:1;-moz-box-flex:1;
}
.hv_scroll_cnt {
    position: relative;
}
.progress_bar {
    border-bottom: 1px solid #262626;
    height: 20px;
    position: relative
}
.progress_bar span {
    font-size: 12px
}
.porgress_breakpoint {
    position: absolute;
    top: 19px;
    width: 3px;
    height: 3px;
    background: #ffffff
}
.progress_download {
    position: absolute;
    top: 0;
    height: 40px;
    background: #067ac7;
    opacity: 0.3
}
.porgress_playback {
    position: absolute;
    top: 0;
    height: 40px;
    background: #067ac7;
    opacity: 0.6
}
.time_total, .time_cur {
    position: absolute;
    width: 36px;
    bottom: 0px;
    right: 0px;
    color: #ffffff;
    cursor: default;
}
.hv_ico_parent {
    position: absolute;
    width: calc(100% - 22px);
    height: 100%;
    top: 0px;
}
.hv_ico_playing {
    width: 20px;
    height: 38px;
    position: absolute;
    right: -22px;
    top: 0;
    background: #30bafe;
    border: 1px solid;
    border-color: #28c6f8 #1ba7f4 #038ee1 #4be1ff;
    line-height: 40px;
    text-align: center
}
.hv_ico_playing span {
    display: inline-block;
    width: 1px;
    height: 8px;
    margin-right: 1px;
    line-height: 0px;
    background: #8ed4f7;
    border-top: 1px solid #2497d0;
    font-size: 0;
    margin-top: 16px
}
.hv_botbar_btn {
    float: right;
    margin-top: 11px;
    width: 152px
}
.hv_ico_next, .hv_ico_clear, .hv_ico_screen {
    margin: 0 10px
}
.hv_ico_next {
    background-position: 0 -213px;
    width: 20px;
    height: 24px
}
.hv_ico_next.gray {
    background-position: 0 -497px
}
.hv_ico_clear {
    position: relative
}
.hv_ico_clarity {
    display: block;
    cursor: default;
    padding: 0 5px;
    height: 18px;
    line-height: 17px
}
.clear_ul:before, .hv_tip:before {
    content: "";
    height: 10px;
    width: 10px;
    z-index: 2;
    position: absolute;
    left: 50%;
    margin-left: -5px;
    bottom: -5px;
    -webkit-transform-origin: 5px 5px;
    -moz-transform-origin: 5px 5px;
    -o-transform-origin: 5px 5px;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    background: -moz-linear-gradient(-45deg, transparent, transparent 49%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1));
    background: -webkit-gradient(linear, left top, right bottom, from(transparent), color-stop(49%, transparent), color-stop(50%, rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 1)));
    background: -o-linear-gradient(left top, transparent, transparent 49%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1))
}
.clear_ul {
    position: absolute;
    bottom: 42px;
    left: -14px;
    width: 64px;
    background: #050505;
    color: #ffffff;
    text-align: center;
    display: none;
    cursor: default
}
.clear_ul li {
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    margin-bottom: 4px;
    font-size: 13px
}
.clear_ul li.hover {
    background: #00a0e9
}
.clear_ul.hover {
    display: block
}
*:focus {
    outline: none
}
.hv_ico_screen {
    background-position: 0 -319px;
    width: 24px;
    height: 24px;
    outline: none;
    margin-top:8px;
}
.hv_ico_allscreen {
    background-position: 0 -372px;
    width: 24px;
    height: 24px;
    outline: none;
    margin-top:8px;
}
.hv_tip {
    position: absolute;
    bottom: 46px;
    left: 40px;
    background: #000000;
    border: 1px solid #262626;
    height: 21px;
    line-height: 21px;
    padding: 0 10px;
    opacity: 0.6;
    color: #ffffff
}
.hv_tip:before {
    bottom: -3px;
    left: 24px
}
.hv_tip span {
    margin: 0 4px
}
.hv_tip a {
    margin: 0 4px;
    color: #ffffff
}
.hv_tip .hv_tip_close {
    float: right;
    position: relative;
    background-position: 0 -460px;
    width: 13px;
    height: 13px;
    text-indent: -999px;
    margin-top: 4px;
    margin-left: 4px
}
.hv_ico_pasued, .hv_ico_loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -55px 0 0 -55px;
    width: 110px;
    height: 110px;
    overflow: hidden;
    z-index: 100
}
.hv_ico_pasued {
    background-position: -140px 0
}
.hv_ico_loading, .hv_loading {
    width: 107px;
    height: 107px
}
.hv_ico_loading {
    background-position: -106px -443px
}
.hv_loading {
    background-position: -230px -443px;
    animation: disqus-embed-spinner .7s infinite linear;
    -webkit-animation: disqus-embed-spinner .7s infinite linear
}
@keyframes disqus-embed-spinner {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}
@-webkit-keyframes disqus-embed-spinner {
    0% {
        -webkit-transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg)
    }
}
.hv_rigbar {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background: #000000;
    opacity: 0.6
}
.hv_tuisong {
    padding: 0 42px
}
.hv_tuisong li {
    margin-bottom: 20px
}
.hv_tuisong .p0 {
    background: url(http://i3.letvimg.com/img/201403/10/1420/hv_ico_tui.png) no-repeat center top;
    height: 128px;
    margin-top: 100px
}
.hv_tuisong .p1 {
    color: #ffffff;
    font-size: 16px
}
.hv_ico_supertv, .hv_ico_airplay {
    border-radius: 4px;
    height: 40px;
    line-height: 38px
}
.hv_juji {
    width: 302px;
    opacity: 0.6
}
.hv_juji li {
    float: left;
    width: 99px;
    height: 69px;
    line-height: 69px;
    font-size: 24px;
    font-family: Arial;
    color: #ffffff;
    text-align: center;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff
}
.hv_charlist {
    opacity: 0.8
}
.hv_charlist li {
    height: 67px;
    color: #cccccc;
    font-size: 16px;
    padding: 0 18px;
    padding-top: 18px;
    border-bottom: 1px solid #cccccc;
    vertical-align: middle
}
.hv_charlist li.hover {
    background: #00a0e9;
    color: #ffffff
}
.hv_pop_bg {
    display: none;
    background: #000000;
    opacity: 0.2;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px
}
.hv_pop {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 270px;
    height: 128px;
    padding: 50px 30px 20px 30px;
    margin: -104px 0 0 -165px;
    background: #000000;
    border: 1px solid #262626;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    opacity: 0.6
}
.hv_pop .hv_pop_close {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 16px;
    height: 16px;
    border: 2px solid #000000;
    border-radius: 16px;
    background: #000000
}
.hv_pop .hv_pop_close span {
    display: block;
    width: 12px;
    height: 12px;
    border: 2px solid #ffffff;
    border-radius: 12px;
    background-position: 2px -423px
}
.hv_pop .hv_blu {
    color: #00a0e9
}
.hv_pop .hv_font16 {
    font-size: 16px
}
.hv_pop .hv_font14 {
    font-size: 14px;
    margin-top: 14px
}
.hv_pop .hv_font14 .hv_ico_sub {
    font-size: 14px;
    padding: 0 10px
}
.hv_otherpop {
    padding: 0;
    width: 330px;
    height: 200px
}
.hv_otherpop .hv_font16 {
    border-bottom: 1px solid #272727;
    height: 50px;
    line-height: 50px
}
.hv_otherpop .hv_font14 {
    border-bottom: 1px solid #505050;
    height: 50px;
    margin-top: 0;
    line-height: 50px
}
.hv_pop_change {
    padding: 0;
    width: 329px;
    height: 200px
}
.hv_pop_change .hv_font16 {
    margin-top: 12px
}
.hv_pop_change .hv_font141 {
    font-size: 14px;
    text-align: left;
    padding: 0 16px;
    margin-top: 10px
}
.hv_pop_change .hv_font141 .hv_ico_sub {
    margin-left: 20px;
    padding: 0 10px
}
.hv_pop_change .hv_pop_ico {
    position: absolute;
    bottom: 0;
    left: -1px
}
.hv_pop_change .hv_pop_ico .hv_ico1 {
    display: inline-block;
    height: 48px;
    width: 109px;
    line-height: 48px;
    text-align: center;
    border-top: 1px solid #373737;
    border-left: 1px solid #373737
}
.hv_pop_change .hv_font14 {
    margin-top: 4px
}
.hv_pop_change .hv_ico_tui1 {
    margin-top: 8px;
    background: url(http://i3.letvimg.com/img/201403/18/hv_ico_tui1.png) no-repeat center center;
    height: 47px
}
.hv_pop_change1 .hv_font16 {
    margin-top: 50px
}
.hv_pop_change1 .hv_pop_ico .hv_ico1 {
    width: 164px
}
.hv_fastslide {
    width: 145px;
    height: 110px;
    background: #000000;
    top: 50%;
    left: 50%;
    margin: -55px 0 0 -72px;
    padding: 0
}
.hv_fastslide_bar {
    background: #00a0e9;
    width: 20px;
    height: 5px;
    overflow: hidden
}
.hv_ico_fastslide {
    background-position: -160px -133px;
    height: 86px;
    width: 72px;
    margin: 0 auto
}
.hv_ico_fastslide_left {
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg)
}
.hv_fashslide_time {
    text-align: center;
    color: #999999
}
.hv_fashslide_time span {
    color: #ffffff
}
.hv_box_mb {
}
.hv_box_mb .hv_topbar {
    display: none
}
.hv_box_mb .hv_scroll {
    margin-right: -40px
}
.hv_box_mb .hv_scroll_cnt {
    margin-right: 40px
}
.hv_box_mb .hv_botbar_btn {
    width: 40px
}
.hv_box_mb .hv_ico_pasued, .hv_box_mb .hv_ico_loading {
    margin: -35px 0 0 -35px
}
.hv_box_mb .hv_ico_loading, .hv_box_mb .hv_loading, .hv_box_mb .hv_ico_pasued {
    width: 70px;
    height: 70px
}
.hv_box_mb .hv_ico_loading {
    background-position: -124px -354px
}
.hv_box_mb .hv_loading {
    background-position: -213px -354px
}
.hv_box_mb .hv_ico_pasued {
    background-position: -266px 0
}
.hv_box_sys_hide {
}
.hv_box_sys_hide .hv_topbar, .hv_box_sys_hide .hv_botbar, .hv_box_sys_hide .hv_rigbar, .hv_box_sys_hide .hv_tip, .hv_box_sys_hide .hv_fastslide, .hv_box_sys_hide .hv_ico_loading {
    display: none
}
.hv_box_mb.hv_fullscreen .hv_play_poster {
    background-color: #000;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto
}
.hv_box_live {
}
.hv_box_live .hv_scroll {
    margin-right: -120px
}
.hv_box_live .hv_scroll_cnt {
    margin-right: 120px
}
.hv_box_live .hv_botbar_btn {
    width: 120px
}
.hv_box_live .live_bar {
    color: #ffffff;
    line-height: 42px;
    padding-left: 30px;
    font-size: 12px
}
.hv_box_live .live_bar span {
    font-size: 12px
}
.hv_box_live .hv_topbar, .hv_box_live .hv_fastslide {
    display: none
}
.hv_box_live_mb .hv_scroll {
    margin-right: -40px
}
.hv_box_live_mb .hv_scroll_cnt {
    margin-right: 40px
}
.hv_box_live_mb .hv_botbar_btn {
    width: 40px
}
.hv_box_live_mb .live_bar {
    padding-left: 10px
}
.hv_box_live_mb .hv_ico_pasued, .hv_box_live_mb .hv_ico_loading {
    margin: -35px 0 0 -35px
}
.hv_box_live_mb .hv_ico_loading, .hv_box_live_mb .hv_loading, .hv_box_live_mb .hv_ico_pasued {
    width: 70px;
    height: 70px
}
.hv_box_live_mb .hv_ico_loading {
    background-position: -124px -354px
}
.hv_box_live_mb .hv_loading {
    background-position: -213px -354px
}
.hv_box_live_mb .hv_ico_pasued {
    background-position: -266px 0
}
.hv_kt_vip {
    border: 0;
    height: 144px;
    margin-top: -107px;
    opacity: 0.8
}
.hv_kt_vip img {
    width: 88%;
    height: auto;
    margin: 0 auto;
    border-radius: 2px
}
.hv_kt_vip, .hv_sk_vip {
    line-height: 28px
}
.hv_kt_vip a, .hv_sk_vip a {
    display: inline-block;
    width: 40%;
    border-radius: 5px;
    margin: 0 10px;
    height: 30px;
    line-height: 30px
}
.hv_kt_vip .a1, .hv_sk_vip .a1 {
    color: #fff;
    background-color: #f68703
}
.hv_sk_vip .a1 {
    width: 33%;
    margin: 0 5px
}
.hv_sk_vip i {
    font-style: normal;
    color: #F68703;
    padding: 0 2px
}
.hv_kt_vip .a2 {
    color: #0f93de;
    border: 1px solid #0f93de
}
.hv_sk_vip .hv_font12 {
    font-size: 15px;
    margin-bottom: 12px
}
.hv_btn20 {
    padding: 20px 0
}
.hv_three .hv_font12 {
    margin-bottom: 0
}
.hv_pop_poster {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -112px 0 0 -182px;
    width: 365px;
    height: 225px;
    overflow: hidden;
    background-color: #f1f1f1
}
.hv_pop_poster p {
    text-align: center;
    margin-bottom: 12px
}
.hv_pop_poster p.hv_p1 {
    padding-top: 48px
}
.hv_pop_poster a {
    display: inline-block;
    height: 40px;
    width: 224px;
    line-height: 40px;
    background-color: #f7f7f7;
    font-size: 15px;
    color: #7e7e7e;
    border: 1px solid #d1d1d1
}
.hv_pop_poster a.blu {
    background-color: #00a0e9;
    color: #ffffff;
    border: 1px solid #00a0e9
}
.hv_pop_poster a.close {
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none
}
.hv_pop_poster a.close i {
    display: block;
    width: 18px;
    height: 2px;
    position: absolute;
    top: 6px;
    left: 0;
    background: #737373;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg)
}
.hv_pop_poster a.close i.i_1 {
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg)
}
.hv_pop_poster .hv_org {
    color: #fd6c01
}